[defaults]
inventory = ./inventory.ini
<<<<<<< HEAD
log_path = /var/log/roboshop/ansible.log
# vault_password_file = /etc/ansible/mysql_vault_pass.txt
=======
# log_path = /var/log/roboshop/ansible.log
vault_password_file = mysql_vault_pass.txt
forks = 6 # at a time connects to 6 servers and run playbook

>>>>>>> f083818b4add734bcc3977b2abd360034cb412f6
